.header {
    background-image: url('../../../images/ttten.svg');
    background-size: cover;
    /* Ajusta el tamaño del fondo */
    background-repeat: no-repeat;
    /* Evita que se repita el fondo */
    background-position: center;
    /* Centra el fondo */
    width: 100%;
    /* Ajusta según tu necesidad */
    height: 90vh;
    /* Ajusta según tu necesidad */
    background-color: #0E0915;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion {}

.img {}

.articulo1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.espacio {
    margin-left: 20px; 
    margin-right: 20px; 
}
