.tabla{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.galeria{
    height: 93vh;
}
.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.articulo1 {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 30px;
}
.espacio {

}
.caja{
    height: 700px;
}
.bgImg{
    background: brown !important;
}
.descripcion{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50vh;
    height: 40vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.61);
    justify-content: center;
    align-items: center;
    h1{
        font-size:25pt;
    }
}
.fondo2{
    background: rgb(255, 255, 255);
}